@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom styles */
.header
{
    margin: 20px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #DDDDDD;
}

footer
{
    margin-top: 50px;
}

footer p
{
   font-size: 16px;
   color: #888888;
}

.no-space
{
    padding: 0;
    margin: 0;
}

.image-wrapper
{
    position: relative;
    overflow: hidden;
}

.image-wrapper:after
{
    content: "";
    display: block;
    padding-top: 56.25%;
}

.overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image
{
    background-repeat: no-repeat;
    background-position: center center;
}

.image.imageHover
{
    transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
}

.image.imageHover:hover
{
    cursor: pointer;
    transform: scale(1.15);
}

.image-wrapper > .overlay .box-text
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.image-wrapper > .overlay .box-text > span
{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 1.4em;
    text-shadow: 0 0 1px #000000;
}

.answertext{
    text-decoration: underline;
}

.right{
    color: rgba(30, 255, 1, 1);
}

.wrong{
    color: rgba(255, 120, 1, 0.6);
}

.orange { background-color: rgba(255, 120, 1, 0.6); }
.blue { background-color: rgba(5, 1, 255, 0.3); }
.green { background-color: rgba(30, 255, 1, 0.4); }
.purple { background-color: rgba(141, 1, 255, 0.6); }
.yellow { background-color: rgba(255, 213, 1, 0.65); }
.black { background-color: #000000; }

.text-wrapper
{
    border: 1px solid #DDDDDD;
    padding: 10px;
    min-height: 250px;
}

.text-wrapper p, .text-wrapper h1, .text-wrapper h2, .text-wrapper h3, .text-wrapper h4, .text-wrapper h5, .text-wrapper h6
{
    padding: 0;
    margin: 0;
}

.text-wrapper p
{
    font-size: 18px;
}

.text-wrapper p + p
{
    margin-top: 20px;
}

.answer-btn
{
    box-sizing: border-box;
    padding: 40px 0;
    border: 1px solid #333333;
    outline: 0;
    display: inline-block;

    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
}

.answer-btn:hover
{
    transform: scale(1.15);
    z-index: 5;
}

.score-table-wrapper
{
    margin-top: 50px;
}

.score-table
{
    border: 1px solid #DDDDDD;
}

.score-table td, .score-table th
{
    padding: 10px 10px 0 10px;
}

.score-table thead tr th
{
    color: #444444;
    font-size: 20px;
    
}

.score-table tbody tr:nth-child(2n -1)
{
    background: #DDDDDD;
}

.score-table tbody tr td
{
    font-size: 16px;
}

.view-animate.ng-enter {
    transition: all .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out;
}

.view-animate.ng-enter {
    opacity: 0;
    position: absolute;
}

.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
    position: relative;
}

.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
    position: absolute;
}