@{
    ViewBag.Title = "Ord och färg";
}

<h2 class="header">Ord och färg</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="image-wrapper">
                <textarea class="overlay" contenteditable="false">{{ARandomColorFromTheDictionary}}</textarea>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <p class="col-xs-12">Ord 5 av 152</p>

            <h3 class="col-xs-12">Vilken färg?</h3>

            <div>
               <
            </div>

            @*<form class="col-xs-12" method="post" ng-submit="">
                <div class="form-group">
                    <input type="text" name="imageDesc" ng-model="" placeholder="Skriv ditt svar här" class="col-xs-12 form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 btn btn-primary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span>Rätta</span>
                    </button>
                </div>
            </form>*@
        </div>
    </div>
</div>