@{
    ViewBag.Title = "Ord och färg";
}

<h2 class="header">Ord och färg</h2>

<div class="row" ng-app="Test" ng-controller="ColorController" ng-init="GetColor()">
    <div class="col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="col-xs-12 text-wrapper">
                <p>{{types[randomColor].Key}}</p>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <p class="col-xs-12">Ord {{numberAnswered}} av {{numberOfColors}}</p>

            <h3 class="col-xs-12">Vilken färg?</h3>

            <form class="col-xs-12" method="post" ng-submit="">
                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 btn" style="background-color: {{color1}}" ></button>
                    <button type="submit" name="send" class="col-xs-4 btn" style="background-color: {{color2}}" ></button>
                    <button type="submit" name="send" class="col-xs-4 btn" style="background-color: {{color3}}" ></button>
                </div>
            </form>

            <p class="col-xs-12">Du har {{points}} poäng av {{numberAnswered}} möjliga</p>

        </div>
    </div>
</div>