@{
    ViewBag.Title = "Hitta Orden";
}


<div ng-controller="FindTheWordsController">
    <div class="row">
        <h2 class="header">Hitta Orden:</h2>
        <div class="col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12 no-space">
                <div class="answertext" ng-bind-html="User.Input | FindTheWordsAnswer:CurrentTask.Question"></div>
            </div>

            <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
                <p class="col-xs-12">Text {{TaskIndex}} av {{AmountOfTasks}}</p>
                <div class="col-xs-12">
                    <h3>Skriv rätt Orden.</h3>
                    <h4>{{CurrentTask.Question | RandomWords}}</h4>
                </div>
                <form class="col-xs-12" method="post" ng-submit="CheckTask()">
                    <div class="form-group">
                        <textarea ng-model="User.Input" placeholder="Skriv ditt svar här" class="col-xs-12 form-control" style="resize: none;"> </textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" name="send" class="col-xs-4 btn btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span>Rätta</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @Html.Partial("_ScoreTable")
</div>