@{
    ViewBag.Title = "Välkommen";
}

<h2 class="header">Välj ifrån de olika utmaningarna nedan.</h2>

<div class="row">
    <div class="col-xs-12">
        <a href="/Home/ColorAndText/" title="Ord och färg">
            <div class="col-md-4 col-sm-4 col-xs-6 no-space">
                <div class="image-wrapper">
                    <div class="overlay image imageHover" style="background-image: url('/Media/fargburkar.jpg'); background-size: cover;">
                        <div class="overlay orange"></div>
                        <h3 class="box-text">
                            <span>Ord & Färg</span>
                        </h3>
                    </div>
                </div>
            </div>
        </a>

        <a href="/Home/WordAndImages/" title="Ord och bild">
            <div class="col-md-4 col-sm-4 col-xs-6 no-space">
                <div class="image-wrapper">
                    <div class="overlay image imageHover" style="background-image: url('/Media/paint.jpg'); background-size: cover;">
                        <div class="overlay blue"></div>
                        <h3 class="box-text">
                            <span>Ord & Bild</span>
                        </h3>
                    </div>
                </div>
            </div>
        </a>

        <a href="/Home/punctuation/" title="Skiljetecken">
            <div class="col-md-4 col-sm-4 col-xs-6 no-space">
                <div class="image-wrapper">
                    <div class="overlay image imageHover" style="background-image: url('/Media/punctuation.jpg'); background-size: cover;">
                        <div class="overlay purple"></div>
                        <h3 class="box-text">
                            <span>Skiljetecken</span>
                        </h3>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" title="Hitta orden">
            <div class="col-md-4 col-sm-4 col-xs-6 no-space">
                <div class="image-wrapper">
                    <div class="overlay image imageHover" style="background-image: url('/Media/write.jpg'); background-size: cover;">
                        <div class="overlay green"></div>
                        <h3 class="box-text">
                            <span>Hitta Orden</span>
                        </h3>
                    </div>
                </div>
            </div>
        </a>

        <a href="#" title="Utmaningen">
            <div class="col-md-4 col-sm-4 col-xs-6 no-space">
                <div class="image-wrapper">
                    <div class="overlay image imageHover" style="background-image: url('/Media/question.jpeg'); background-size: cover;">
                        <div class="overlay yellow"></div>
                        <h3 class="box-text">
                            <span>Utmaningen</span>
                        </h3>
                    </div>
                </div>
            </div>
        </a>

        <div class="col-md-4 col-sm-4 col-xs-6 no-space">
            <div class="image-wrapper">
                <div class="overlay">
                    <div class="overlay black"></div>
                    <h3 class="box-text">
                        <span>Skapad av TheBigBoys</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>