@{
    ViewBag.Title = "Skiljetecken";
}

<h2 class="header">Skiljetecken.</h2>

<div class="row">
    <div class="col-xs-12" ng-controller="punctuationController">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="answertext" ng-bind-html="answersentenceView | PunctuationAnswer:rightsentence"></div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <p class="col-xs-12">Text {{rightsentences.indexOf(rightsentence) + 1}} av {{rightsentences.length}}</p>
            <div class="col-xs-12">
                <h3>Skriv rätt Skiljetecken.</h3>
                <h4>{{rightsentence | PunctuationQuestion}}</h4>
            </div>
            <form class="col-xs-12" method="post" ng-submit="checkstring()">
                <div class="form-group">
                    <textarea ng-model="answersentence" placeholder="Skriv ditt svar här" class="col-xs-12 form-control" style="resize: none;"> </textarea>
                </div>

                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 btn btn-primary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span>Rätta</span>
                    </button>
                </div>
            </form>
            <button name="send" class="col-xs-4 btn btn-primary" ng-click="next()">
                <i class="fa fa-search" aria-hidden="true"></i>
                <span>Nästa</span>
            </button>
        </div>
    </div>
</div>