@{
    ViewBag.Title = "Skiljetecken";
}

<h2 class="header">Skiljetecken.</h2>

<div class="row" ng-app="SkolApp">
    <div class="col-xs-12" ng-controller="punctuationController">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div>
                <h3></h3>
            </div><br />
            <div class="answertext" ng-class="answerclass()" ng-bind-html="answersentenceView">
            </div>

        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <p class="col-xs-12">Text 1 av 3</p>
            <div class="col-xs-12">
                <h3>Skriv rätt Skiljetecken.</h3>
                <h4>{{astrisksentence()}}</h4>
            </div>
            <form class="col-xs-12" method="post" ng-submit="checkstring()">
                <div class="form-group">
                    <textarea ng-model="answersentence" placeholder="Skriv ditt svar här" class="col-xs-12 form-control" style="resize: none;"> </textarea>
                </div>

                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 btn btn-primary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span>Rätta</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>