@{
    ViewBag.Title = "Skiljetecken";
}

<h2 class="header">Skiljetecken.</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="col-xs-12 text-wrapper">
                <p>Detta är en hårdkodad text(*) den ska bytas ut mot den text som kommer från controllern via angular(*) Observera att alla skiljetecken är borta(*)</p>
                <p>Detta är andra paragrafen som också bara innehåller skit(*)</p>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
            <p class="col-xs-12">Text 1 av 3</p>

            <h3 class="col-xs-12">Vad står det i rutan?</h3>
            <form class="col-xs-12" method="post" ng-submit="">
                <div class="form-group">
                    <textarea name="textDesc" ng-model="" placeholder="Skriv ditt svar här" class="col-xs-12 form-control"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 btn btn-primary">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <span>Rätta</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>