<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="col-xs-12 text-wrapper">
                <h3>Vilken av knapparna är {{CurrentTask.Question}}?</h3>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">

            <h3 class="col-xs-12">Vilken färg?</h3>
            <form class="col-xs-12" method="post" ng-submit="CheckTask()">
                <div class="form-group">
                    <!--button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{color}}" ng-click="User.Input = color" ng-repeat="color in PossibleAnswers | Shuffle"></!--button-->
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask.PossibleAnswers[0]}}" ng-click="User.Input = CurrentTask.PossibleAnswers[0]"></button>
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask.PossibleAnswers[1]}}" ng-click="User.Input = CurrentTask.PossibleAnswers[1]"></button>
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask.PossibleAnswers[2]}}" ng-click="User.Input = CurrentTask.PossibleAnswers[2]"></button>
                </div>
            </form>
        </div>
    </div>
</div>