<div class="row">
    <div class="col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12 no-space">
            <div class="col-xs-12 text-wrapper">
                <h3>Vilken av knapparna är {{Question}}?</h3>
            </div>
        </div>

        <div class="col-md-5 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">

            <h3 class="col-xs-12">Vilken färg?</h3>
            <form class="col-xs-12" method="post" ng-submit="CheckTask()">
                <div class="form-group">
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask[0].Answer}}" ng-click="User.Input = CurrentTask[0]"></button>
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask[1].Answer}}" ng-click="User.Input = CurrentTask[1]"></button>
                    <button type="submit" name="send" class="col-xs-4 answer-btn" style="background-color:{{CurrentTask[2].Answer}}" ng-click="User.Input = CurrentTask[2]"></button>
                </div>
            </form>
        </div>
    </div>
</div>